@{
    ViewData["Title"] = "Hannibals Bank";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Hannibal's Bank</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core"> Web apps with ASP.NET Core</a>.</p>
</div>
