@model  Inlaming1_ALM.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Hannibals Bank";
}


<div class="text-center">
    <h1 class="display-4">Welcome to Hannibal's Bank</h1>

    @foreach (var customer in Model.Customers)
    {
        <h3>Customer ID: @customer.CustomerID</h3>
        <p>Name: @customer.CustomerName</p>
        @foreach (var account in customer.Accounts)
         {
             <p>Account: @account.AccountID, Balance: @account.Balance</p>
         }
    }
</div>
