################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Inlaming1-ALM/v16/Server/sqlite3/db.lock
